// $primary: rgb(104, 126, 99);
// $secondary: rgb(134, 86, 64);
// $accent: rgb(194, 146, 87);
// $grey: rgb(127, 127, 127);
// $white: rgb(255, 255, 255);
$gray: #707070;
$lightgray: #D3D3D3 ;

// sandyghast theme;
$sandyghast-light-ghost: #A493CC;
$sandyghast-dark-ghost: #6E5C99;
$sandyghast-light-sand: #FAE9CD;
$sandyghast-dark-sand: #D6BFA7;
$sandyghast-coral: #eb5959;