@import "~bootstrap/scss/bootstrap";
@import '~react-bootstrap-typeahead/css/Typeahead.css';
@import 'colors';
@import 'fonts';
@import 'config';

$header-height: 56px;
$table-row-height: 45px;

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}
  
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.App-link {
    color: #61dafb;
}
  
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-page-wrapper {
    top: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
}

.home-card-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    top: 60px;
}

.home-card {
    width: 300px;
}

.pokedex-wrapper {
    display: flex;
    justify-content: space-evenly;
    // top: $header-height;
}

.pokemon-search-panel-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    top: 0;
}


::-webkit-scrollbar { 
    width: 10px; 
} 

/* Track */ 
::-webkit-scrollbar-track { 
    background: whitesmoke; 
    border-radius: 5px; 
} 

/* Handle */ 
::-webkit-scrollbar-thumb { 
    background: grey; 
    border-radius: 5px;
} 

/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover { 
    background: #555; 
} 

.pokemon-table-wrapper {
    // position: relative;
    width: 100%;
    height: 89vh;
    // display: flex column;
}

.pokemon-table-header {
    width: 100%;
    height: $table-row-height;
    border: solid black;
}

.sticky-table-header {
    font-weight: bold;
}

.sticky-table-cell {
    display: table-cell;
    border: 1px solid #e5e5e5;
    padding: 3px 10px 3px 10px !important;
    vertical-align: middle;
    font-size: 13px;
    // height: 40px;
    // max-height: 40px !important;
}

.table-pokemon-icon {
    max-height: 50px;
    max-width: 50px;
    margin-right: 5px;
    margin-left: -12px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.type-icon {
    display: inline-block;
    width: 50px;
    // margin-bottom: 2px;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #fff;
    font-size: .6rem;
    font-weight: normal;
    line-height: 1rem;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    text-transform: uppercase;
    transition: opacity .4s;
}

img {
    max-height: 50px;
    max-width: 50px;
    margin-right: 10px;
    margin-left:10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.icon {
    max-height: 2rem;
    max-width: 2rem;
}

.header {
    margin: auto;
    background-color: #73638F;
    padding: 0px 0px 0px 0px;
    width: -webkit-fill-available;
    position: sticky;
    top: 0px;
    z-index: 1000;

    a:link, a:visited, a:active {
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }

    a:hover {
        color: #cfcfcf;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn {
        margin: 5px;
    }
}

label {
    display: block;
    margin-top: 10px;
}
  
.card-container.card {
    
    max-width: 350px !important;
    padding: 40px 40px;
}
  
.card {
    display: flex column;
    position: relative;
    background-color: #f7f7f7;
    padding: 10px;
    margin: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
  
.profile-img-card {
    position: relative;
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}






// // to define common properties, and then simply call function
// @mixin easeOut {
//   transition: all .5s ease-out !important;
// }

// * {
//   box-sizing: border-box;
// }

// body, html, #root, .App {
//   min-height: 100vh;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// Form {
//   width: 55rem;
// }

// h1 {
//   color: $primary;
//   font-size: 3rem;
//   @include header();
// }

// p {
//   color: $grey;
// }

// .text-secondary {
//   color: $primary !important;
// }

// label {
//   color: $grey;
//   @include text();
// }

// Button {
//   background-color: $primary !important;
//   border: none !important;
//   @include easeOut();
//   &:hover {
//     background-color: $accent !important;
//   }
// }

// @include tiny {
//   body {
//     padding: 1rem;
//   }
//   Form {
//     width: 100%;
//   }
// }

// @include tablet {
//   body {
//     padding-left: 3rem;
//     padding-right: 3rem;
//   }
//   Form {
//     width: 100%;
//   }
// }

// @include desktop {
//   body {
//     padding: 3rem;
//   }
//   Form {
//     width: 100%;
//   }
// }

